body {
    background-color: #F4F4F4;
}
.main{
    height: 1150px;
    width: 800px;
    background-color: white;
    box-shadow: #b9b6b9;
    margin: 20px auto;
}
.topBar{
    background-color: #4347BA;
    text-align: center;
    padding: 50px;
}
.p1{
    color: white;
    font-size: 43px;
    margin: 0px;
    margin-top: 10px;
    /* font-weight: bold; */
    font-family: "Times New Roman";
}
.p2{
    color: white;
    font-size: 35px;
    margin: 0px;
    margin-top: 10px;
    font-family: "Lucida Handwriting";
    font-style: italic;
}


* {box-sizing:border-box}
.container {
  width: 85%; 
  background-color: #ddd; 
  height: 5px;
  
}
.thai {width: 100%; background-color: #6D70DB; height: 5px;} 
.english {width: 70%; background-color: #6D70DB; height: 5px;} 
.spain {width: 40%; background-color: #6D70DB; height: 5px;}

.line{
    border-left: 1px solid #c7c7c7;
    height: 900px;
    width: 10%;
    margin-top: 30px;
    float: left;
}
.left-content{
    width: 43%;
    float: left;
}
.right-content{
    width: 57%;
    float: right;
    margin-top: -940px;
    margin-left: 100px;
   
}

.head{
    border-bottom: 2px solid #737375;
    width: 80%;
    font-weight: bold;
}
.heding{
    border-bottom: 2px solid #737375;
    width: 80%;
    font-weight: bold;

}
.p3{
    color: #4F505B;
    line-height: 1;
    width: 90%;
    font-family:sans-serif;
}
.skills{
    margin-left: -20px;
    margin-bottom: 0px;
    font-size: 16px;
}
.skills li{
    padding: 3px;
}
.skills li span{
    color: #4F505B;
}
.p4{
    width: 90%;
    color: #4F505B;
    font-family: sans-serif;
    line-height: 1.6;
    
}
.name{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.inter{
    color: #4F505B;
    font-family: sans-serif;
    padding-left: 10px;
}
